@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
	box-sizing: border-box;
}

body{
	background-color: #001d26;
	font-family: 'Nunito', sans-serif;
	margin: 0;
	color: rgb(231, 250, 250);
}

.container{
	max-width: 1400px;
	margin: auto;
}

.main{
	padding-top: 10rem;
}
header{
	display: flex;
	min-height: 70px;
	justify-content: space-between;
	align-items: center;
	background: #00a2cf56;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

header .logo{
	color: azure;
	font-size: 15px;
	margin: 0;
	padding: 10px 30px;
}

.logo{
	display: flex;
	align-items: center;
}

.logo img{
	height: 35px;
	margin-right: 10px;
}

header .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header .nav{
	display: flex;
	flex-direction: column;
	text-align: right;
	padding-bottom: 20px;
}

header a{
	padding: 20px 30px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: rgb(231, 250, 250);
}

header a:hover{
color: #00566e;
}

@media (max-width: 700px) {
	header{ 
		flex-direction: column;
	}
}